/* Grundstil */

.center-seats {
    display: flex;
    justify-content: center;
}

.saloon-container {
    background-color: #071b25;
    padding: 20px;
    border-radius: 8px;
}

.screen {
    background-color: #0a3048;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

/* Stil för sätesknapparna */

.btn-primary {
    background-color: #8B6F47 !important;
    border-color: #8B6F47 !important;
}

.btn-secondary {
    background-color: #b5972a !important;
    border-color: #8B6F47 !important;
}

    .btn-primary:hover, .btn-secondary:hover {
        background-color: #e1bb34 !important;
        border-color: #9D7F58 !important;
    }

.btn:disabled {
    background-color: #ebdaa0 !important;
    border-color: #ebdaa0 !important;
}

.seat-btn {
    transition: all 0.3s ease-in-out;
}

/* Responsiv design */

@media (max-width: 576px) { /* Mobil */
    .seat-col {
        padding: 1px !important;
    }

    .seat-btn {
        font-size: 0.6rem;
        padding: 3px 6px;
    }
}

@media (min-width: 577px) and (max-width: 768px) { /* Surfplatta */
    .seat-col {
        padding: 2px !important;
    }

    .seat-btn {
        font-size: 0.8rem;
        padding: 5px 10px;
    }
}

@media (min-width: 667px) and (max-width: 992px) { /* Mellanstor skärm */
    .saloon-container {
        width: 100%;
        max-width: none;
        margin: 0;
        padding: 10px;
    }

    .seat-col {
        padding: 2px !important;
    }

    .seat-btn {
        font-size: 0.8rem;
        padding: 4px 8px;
    }
}
