.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
}

/* Responsive styles for smaller screens (e.g., mobile) */
@media screen and (max-width: 767px) {
    .image-grid {
        grid-template-columns: repeat(4, 1fr);
        /* Set to one column for mobile */
    }
}

.image-item {
    flex-basis: calc(10% - 10px);
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the image within the container */
    padding: 12px;
}

.movie-image img {
    width: 200px;
    /* Set a fixed width for movie images */
    height: 100px;
    /* Set a fixed height for movie images */
}

.image-item img {
    width: 85%;
    /* Make all other images take 100% width */
    height: 90%;
    /* Maintain aspect ratio */
}