/* MovieScroller.css */

.movie-scroller {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    padding-top: 13px;
    padding-bottom: 20px;


}

.scroller-title {
    font-size: 42px;
}

.movie-scroller .prev-button {
    background-color: transparent !important;
    /* Other styles here */
}

.prev-button,
.next-button {
    background-color: transparent;
    border: none;
    font-size: 45px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

}

.prev-button {
    left: 7%;
}

.next-button {
    right: 15.35%;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    position: relative;

}

.center-image {
    aspect-ratio: 21/32;
    width: 360px;
    /* Allow the center image to adjust based on its actual dimensions */
    height: auto;
    /* Set a maximum height (280px,420px,Larger than 400+ or auto */
    padding: 5px;
    /* Maintain aspect ratio and cover the container */
    border: 2px solid #c98417;
    /* Change the color and width to your preference */
}

.left-side-image,
.right-side-image {
    aspect-ratio: 21/32;
    max-width: 20%;
    /* Adjust the width of the side images */
    max-height: 180px;
    /* Adjust the height of the side images */
    transform-style: preserve-3d;
    perspective: 1000px;
}

.left-side-image {
    transform: rotateY(-60deg) rotateX(12deg) translateZ(55px);
}

.right-side-image {
    transform: rotateY(60deg) rotateX(12deg) translateZ(55px);
}

/* Add the media query for desktop view (reset rotation) */
@media screen and (min-width: 768px) {

    .movie-scroller {
        flex-direction: row;
        /* Ensure horizontal layout for desktop */

    }


    .left-side-image,
    .right-side-image {
        transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        /* Reset rotation and translation for the side images on desktop */
    }
}

/* Responsive styles for smaller screens (e.g., mobile) */
@media screen and (max-width: 767px) {
    .movie-scroller {
        flex-direction: column;
        /* Stack elements vertically on mobile */
    }

    .prev-button {
        font-size: 30px;
        left: 7px;
    }

    .next-button {
        font-size: 30px;
        right: 61px;
    }

    .center-image {
        width: 100%;
        /* Center image takes full width on mobile */
        max-height: auto;
        /* Reset max-height for mobile */
    }

    .left-side-image,
    .right-side-image {
        max-width: 25%;
        /* Side images take full width on mobile */
        max-height: auto;
        /* Reset max-height for mobile */
    }
}