.navbar-film {
  --#{$prefix}navbar-disabled-color: #{$navbar-dark-disabled-color};
  --#{$prefix}navbar-active-color: #{$navbar-dark-active-color};
  --#{$prefix}navbar-brand-color: #{$navbar-dark-brand-color};
  --#{$prefix}navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
  --#{$prefix}navbar-toggler-border-color: #{$navbar-dark-toggler-border-color};
  --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-dark-toggler-icon-bg)};
  font-family: 'Noto Sans Tagalog', sans-serif;

  :hover {
    color: #A76B09;
    text-decoration: underline;
  }

  .nav-link.active {
    color: #E3E5E0;
    text-decoration: underline;
  }
}

@media (max-width: 984px) {
  .navbar-collapse {
    position: absolute;
    right: 0;
    background-color: black;
    z-index: 1000;
  }
}

@media (min-width: 984px) {
  .navbar-collapse {
    display: flex;
    position: sticky;
    width: 100%;
    justify-content: flex-start;
  }
}

.navbar-collapse {
  .nav-link {
    --bs-nav-link-color: #DDA74F;
    max-width: 200px;
    padding-left: 10px;
  }
}

.navbar-expand-lg .navbar-collapse {
  top: 50px;
  min-width: 200px;
}

button:nth-child(1) {
  background-color: #A26704;
}

button:not(.seat-btn):nth-child(1) {
  background-color: #A26704;
  border: none;
  border-radius: 25px;
  size: 25px;
  padding: 5px 32px;
  text-align: center;
  min-width: 140px;
  max-width: 300px;
}

button:not(.seat-btn):nth-child(1):hover {
  background-color: #ffffff;
  color: #5a5a5a;
}


button:nth-child(2) {
  background-color: #5a5a5a;
  border: none;
  border-radius: 25px;
  size: 25px;
  padding: 5px 32px;
  text-align: center;
  min-width: 140px;
  max-width: 300px;
}

.tradeMarkFooter {
  text-align: center;
}

.footer {
  align-items: center;
  background-color: none;
  padding: 20px;
  width: 100%;

}

.logoSize {
  max-width: 100px;
  text-align: center;

}

.body {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
}

.container-main {
  flex: 1;
}



.counterButton {
  padding: 2px 8px 9px 8px !important;
  margin: 5px 40px 5px 10px !important;
  size: 5000px !important;
  background-color: rgb(218, 218, 218) !important;
  border: 1px !important;
  border-radius: 10px !important;

  min-width: 30px !important;
  max-width: 300px !important;
}

.posterMoviesList {
  max-width: '15px' !important;
  max-height: 'auto';
  border: '2px solid black';

}

.moviesListCard {
  flex: 33.33 33.33 33.33%;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}