/* MovieScroller.css */

.movie-scroller {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    padding-top: 2px;
}

.movie-scroller .prev-button {
    background-color: transparent !important;
    /* Other styles here */
}

.prev-button,
.next-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev-button {
    left: 5%;
}

.next-button {
    right: 15%;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
}

.center-image {
    width: 360px;
    /* Allow the center image to adjust based on its actual dimensions */
    max-height: 280px;
    /* Set a maximum height */
    padding: 5px;
    /* Maintain aspect ratio and cover the container */
}

.left-side-image,
.right-side-image {
    max-width: 20%;
    /* Adjust the width of the side images */
    max-height: 180px;
    /* Adjust the height of the side images */
    transform-style: preserve-3d;
    perspective: 1000px;
}

.left-side-image {
    transform: rotateY(-60deg) rotateX(12deg) translateZ(55px);
}

.right-side-image {
    transform: rotateY(60deg) rotateX(12deg) translateZ(55px);
}

/* Responsive styles for smaller screens (e.g., mobile) */
@media screen and (max-width: 767px) {
    .movie-scroller {
        flex-direction: column;
        /* Stack elements vertically on mobile */
    }

    .prev-button {
        font-size: 20px;
        left: 7px;
    }

    .next-button {
        font-size: 20px;
        right: 65px;
    }


    .center-image {
        width: 100%;
        /* Center image takes full width on mobile */
        max-height: auto;
        /* Reset max-height for mobile */
    }

    .left-side-image,
    .right-side-image {
        max-width: 25%;
        /* Side images take full width on mobile */
        max-height: auto;
        /* Reset max-height for mobile */
    }
}