button:nth-child(1){
  background-color:#A26704;
  border: none;
  border-radius: 25px;
  size: 25px;
  padding: 5px 32px;
  text-align: center;
  min-width: 140px;
  max-width: 300px;
}
button:nth-child(1):hover{
  background-color: #ffffff
}


.tradeMarkFooter{
  text-align: center;
}

.footer {
  align-items: center;
  background-color: none;
  
  
}

.logoSize {
  max-width: 100px;
  text-align: center;
}
