.navbar-film {
  --#{$prefix}navbar-hover-color: #{$navbar-dark-hover-color};
  --#{$prefix}navbar-disabled-color: #{$navbar-dark-disabled-color};
  --#{$prefix}navbar-active-color: #{$navbar-dark-active-color};
  --#{$prefix}navbar-brand-color: #{$navbar-dark-brand-color};
  --#{$prefix}navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
  --#{$prefix}navbar-toggler-border-color: #{$navbar-dark-toggler-border-color};
  --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-dark-toggler-icon-bg)};
}

@media (max-width: 821px) {
  .navbar-collapse {
    position:absolute;
    right: 0;
  }
}

@media (min-width: 821px) {
  .navbar-collapse {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: flex-start;
  }
}

.navbar-collapse {
  .nav-link {
    --bs-nav-link-color: #A26704; 
    background-color: black;
    max-width: 200px;
    padding-left: 10px;
  }
}

.navbar-expand-lg .navbar-collapse {
  top: 50px;
  min-width: 200px;
}

button:nth-child(1){
  background-color:#A26704;
  border: none;
  border-radius: 25px;
  size: 25px;
  padding: 5px 32px;
  text-align: center;
  min-width: 140px;
  max-width: 300px;
}

.tradeMarkFooter{
  text-align: center;
}

.footer {
  align-items: center;
  background-color: none;
  padding: 20px;
  width: 100%;
  
}

.logoSize {
  max-width: 100px;
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
}

.container-main {
  flex: 1;
}