.navbar-film,
.navbar[data-bs-theme="dark"] {
  --#{$prefix}navbar-color: #A26704;
  --#{$prefix}navbar-hover-color: #{$navbar-dark-hover-color};
  --#{$prefix}navbar-disabled-color: #{$navbar-dark-disabled-color};
  --#{$prefix}navbar-active-color: #{$navbar-dark-active-color};
  --#{$prefix}navbar-brand-color: #{$navbar-dark-brand-color};
  --#{$prefix}navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
  --#{$prefix}navbar-toggler-border-color: #{$navbar-dark-toggler-border-color};
  --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-dark-toggler-icon-bg)};
  position: absolute;
}
button:nth-child(1){
  background-color:#A26704;
  border: none;
  border-radius: 25px;
  size: 25px;
  padding: 5px 32px;
  text-align: center;
  min-width: 140px;
  max-width: 300px;
}
button:nth-child(1):hover{
  background-color: #ffffff
}


.tradeMarkFooter{
  text-align: center;
}

.footer {
  align-items: center;
  background-color: none;
  
  
}

.logoSize {
  max-width: 100px;
  text-align: center;
}
