/* Styling for the Saloon/Screen */

.center-seats {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.saloon-container {
    background-color: #071b25; /* Dark background for the container */
    padding: 20px;
    border-radius: 8px;
}

.screen {
    background-color: #0a3048; /* Dark gray for the screen */
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

/* Styling for the seat buttons */
.btn-primary {
    background-color: #8B6F47 !important;
    /* Antic dark gold color */
    border-color: #8B6F47 !important;
}
.btn-secondary {
    background-color: #b5972a !important; /* Antic dark gold color */
    border-color: #8B6F47 !important;
}

    .btn-primary:hover, .btn-secondary:hover {
        background-color: #e1bb34 !important; /* Slightly lighter shade for hover */
        border-color: #9D7F58 !important;
    }

.btn:disabled {
    background-color: #ebdaa0 !important; /* Dark gray indicating the seat is taken */
    border-color: #ebdaa0 !important;
}
.seat-btn {
    transition: all 0.3s ease-in-out; /* Smooth transition */
}
@media (max-width: 576px) { /* Mobilvy */
    .seat-col {
        padding: 1px !important; /* Minskar avståndet mellan sätena */
    }

    .seat-btn {
        font-size: 0.6rem; /* Minskar textstorleken på knappen */
        padding: 3px 6px; /* Minskar padding på knappen */
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .seat-col {
        padding: 2px !important; /* Justera avståndet mellan sätena */
    }

    .seat-btn {
        font-size: 0.8rem; /* Justera textstorleken på knappen */
        padding: 5px 10px; /* Justera padding på knappen */
    }

    .screen {
        font-size: 1.2rem; /* Större text för skärmen */
        height: 40px; /* Högre höjd för skärmen */
        line-height: 40px; /* Centrera texten vertikalt */
    }
}

/* Desktopvy */
@media (min-width: 769px) {
    .seat-col {
        padding: 5px !important; /* Ökad padding mellan sätena */
    }

    .seat-btn {
        font-size: 1rem; /* Ökad textstorlek på knappen */
        padding: 8px 16px; /* Ökad padding på knappen */
    }
}
@media (min-width: 577px) and (max-width: 768px) and (orientation: landscape) {
    .seat-col {
        padding: 3px !important; /* Justera avståndet mellan sätena */
    }

    .seat-btn {
        font-size: 1rem; /* Justera textstorleken på knappen */
        padding: 6px 12px; /* Justera padding på knappen */
    }

    .screen {
        font-size: 1.5rem; /* Större text för skärmen */
        height: 50px; /* Högre höjd för skärmen */
        line-height: 50px; /* Centrera texten vertikalt */
    }
}




